@model EbookApplication.ViewModels.BookViewModel

@{
    ViewData["Title"] = "Book Details";
    var photoPath = "/uploadImages/" + (Model.book.ImageUrl ?? "noimage.jpg"); //Get the Image Path from the DB.

    // We Manipulate the Image path to ge the bookpath
    var Path = "/uploadBooks/" + (Model.book.ImageUrl ?? "noimage.jpg");
    var splitPath = Path.Split(".");
    var bookPath = splitPath[0].ToString() + ".pdf";

    // File name For the downloaded book
    var bookdownload = @Model.book.BookName + ".pdf";
}

@*Page Header*@
<h3 class="text-center mt-3" style="color:#86bc42;">Book Details</h3>


<div class="container-fluid mt-3">

    @*Book Title*@
    <div class="card-header text-left">
        <h3>@Model.book.BookName</h3>
    </div>

    <div class="row">

        @*Book Image*@
        @*<div class="col-md-2">
            <div class="card-body text-center">
                <img src="@photoPath" asp-append-version="true" />
            </div>
        </div>*@

        @*Book Technalogy and Description*@
    <div class="card-body col-md-5 text-left">
        <p style="font-size:15px;"><strong>Technology:</strong> &nbsp;&nbsp;@Model.technology.TechnologyName</p> <hr />
        <p style="font-size:15px;"><strong>Description:</strong><br /><br />@Model.book.Description</p>
        @*Actions on Book*@
    <div class="card-footer text-center">
        <a asp-controller="Books" asp-action="Index" class="btn btn-primary btn-sm m-1" title="Go To E-Books Page">Back</a>
        <a href="@bookPath" class="btn btn-primary btn-sm m-1" download="@bookdownload">Download</a>
        <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.book.BookId" class="btn btn-primary btn-sm m-1" title="Edit @Model.book.BookName book">Edit</a>
    </div>
    </div>

        @*Book PDF View*@
        <div class="col-md-7">
            <object data="@bookPath#toolbar=0" type="application/pdf" style="min-width:100%;min-height:100%;"></object>
        </div>

    </div>

</div>