@model EbookApplication.ViewModels.BookViewModel
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<ApplicationUser> UserManager;

@{
    ViewData["Title"] = "Book Details";
    var photoPath = "/uploadImages/" + (Model.book.ImageUrl ?? "noimage.jpg"); //Get the Image Path from the DB.

    // We Manipulate the Image path to ge the bookpath
    var Path = "/uploadBooks/" + (Model.book.ImageUrl ?? "noimage.jpg");
    var splitPath = Path.Split(".");
    var bookPath = splitPath[0].ToString() + ".pdf";

    // File name For the downloaded book
    var bookdownload = @Model.book.BookName + ".pdf";

    var UserId = @Model.book.CreatedBy;
    var PostedBy = await UserManager.FindByIdAsync(UserId);

}

<div class="container-fluid">

    <div class="row mt-3">

        <div class="col-md-8" style="border-right:1px solid rgba(0, 0, 0, 0.1);">
            <h3 class="text-center m-4 text-muted">Book Details</h3>
            <div class="card-header text-left">
                <h3>@Model.book.BookName</h3>
            </div>

            <div class="row">
                <div class="col-md-3">
                    <div class="card-body">
                        <img src="@photoPath" asp-append-version="true" />
                    </div>
                </div>

                <div class="card-body col-md-9" style="margin-left:-3%;">
                    <p style="font-size:15px;"><strong>Author:</strong> &nbsp;&nbsp;@Model.book.Author</p> <hr />
                    <p style="font-size:15px;"><strong>Published On:</strong> &nbsp;&nbsp;@Model.book.PublishedDate</p> <hr />
                    <p style="font-size:15px;"><strong>Technology:</strong> &nbsp;&nbsp;@Model.technology.TechnologyName</p> <hr />
                    <p style="font-size:15px;"><strong>Description:</strong><br /><br />@Model.book.Description</p><hr />
                    @if (User.IsInRole("Admin"))
                    {
                        <p style="font-size:15px;"><strong>Uploaded By:</strong> &nbsp;&nbsp;@PostedBy</p> <hr />
                    }

                    <div style="display:flex">

                        <div>

                            @if (User.IsInRole("Admin"))
                            {
                                @if (@Model.book.StatusId == 1)
                                {
                                    <div style="display:flex">
                                        <p style="font-size:15px;">
                                            <strong>Approval Status:&nbsp;&nbsp;&nbsp;</strong>
                                        </p>
                                        <div class="ml-1 row">
                                            <form enctype="multipart/form-data" asp-controller="Books" asp-action="ApprovalStatus" method="post">
                                                <input hidden asp-for="book.BookId" />
                                                <input hidden asp-for="book.BookName" />
                                                <input hidden asp-for="book.TechnologyId" />
                                                <input hidden asp-for="book.Description" />
                                                <input hidden asp-for="book.ImageUrl" />
                                                <input hidden asp-for="book.CreatedBy" />
                                                <input hidden asp-for="book.CreatedDate" />
                                                <input hidden asp-for="book.Author" />
                                                <input hidden asp-for="book.PublishedDate" />
                                                <div style="display:flex;">
                                                    <div>
                                                        <input asp-for="book.StatusId" type="radio" value="2" checked="checked" id="approved" />&nbsp;Approve
                                                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <div>
                                                        <input asp-for="book.StatusId" type="radio" value="3" id="rejected" />&nbsp;Reject
                                                    </div>&nbsp;&nbsp;&nbsp;&nbsp;
                                                    <div>
                                                        <button class="btn btn-success btn-sm pull-right ml-3" title="Add a Review" id="btnreviewadd" type="submit">Save</button>
                                                    </div>
                                                </div>
                                                <div> <textarea class="form-control mt-2" asp-for="book.Remarks" cols="30" id="remarks" placeholder="Enter your Remarks here..." rows="2" style="display:none;"></textarea></div>
                                            </form>
                                        </div>
                                    </div>


                                }
                            }
                        </div>
                    </div>

                </div>
            </div>

            <div class="card-footer text-center">
                @*<a asp-controller="Books" asp-action="Index" class="btn btn-primary btn-sm m-1" title="Go To E-Books Page">Back</a>*@
                <a href="@bookPath" class="btn btn-primary btn-sm m-1" target="_blank" title="Read Book">Read Book</a>
                <a href="@bookPath" class="btn btn-primary btn-sm m-1" download="@bookdownload" title="Download @Model.book.BookName">Download</a>

                @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == UserId && Model.book.StatusId == 1)
                {
                    <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.book.BookId" class="btn btn-primary btn-sm m-1" title="Edit @Model.book.BookName E-Book">Edit</a>
                }
            </div>

        </div>

        @*Events*@
        <div class="col-md-4">
            <div id="div_GetEvents">
                @await Html.PartialAsync("_EventsList")
            </div>
        </div>

    </div>
</div>
<script src="~/js/site.js"></script>
