@model EbookApplication.ViewModels.BookViewModel

@{
    ViewData["Title"] = "View Book Details";
    var photoPath = "/images/" + (Model.book.ImageUrl ?? "noimage.jpg");
}

<h3 class="text-center mt-1" style="color:#86bc42;text-decoration:underline;">Book Details</h3>

<div class="container mt-2">
    <div class="card-header text-left">
        <h1>@Model.book.BookName</h1>
    </div>
</div>

<div class="row">

    <div class="col-md-4">
        <div class="card-body text-center ml-5">
            <object data="@photoPath#toolbar=0" height="430" width="350" type="application/pdf" style="min-width:101%;min-height:101%;"></object>
        </div>
    </div>

    <div class="card-body col-md-7">
        <p style="font-size:15px;"><strong>Technology:</strong> @Model.technology.TechnologyName</p> <hr />
        <p style="font-size:15px;"><strong>Description:</strong><br /><br /> @Model.book.Description</p>
        <a class="btn btn-primary m-1" href="@photoPath" download>Download</a>
    </div>
    <div class="col-md-1"></div>
</div>
<div class="container">
    <div class="card-footer text-center">
        <a asp-controller="Books" asp-action="Index" class="btn btn-primary m-1" title="Go To E-Books Page">Back</a>
        <a asp-controller="Books" asp-action="Edit" asp-route-id="@Model.book.BookId" class="btn btn-primary m-1" title="Edit @Model.book.BookName book">Edit</a>
    </div>
</div>