@model IEnumerable<EbookDomain.Models.Book>

@{
    ViewData["Title"] = "List of Books";
}

<h1 class="text-center mt-3" style="color:#86bc42;">E-Books</h1>

<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            var photoPath = "~/images/" + (item.ImageUrl ?? "noimage.jpg");
            <div class=" col-md-4 border p-3">
                <div class="text-center">
                    <img src="@photoPath" asp-append-version="true" alt="Card image cap" height="150" width="150"><hr />
                    <h5>@item.BookName</h5>
                    <p style="line-height:1.5em;height:3em;overflow:hidden">@item.Description</p>
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId" class="btn btn-primary m-1">View</a>
                    <a asp-controller="Books" asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-primary m-1">Edit</a>
                </div>
            </div>
        }
    </div>
</div>