@model IEnumerable<EbookDomain.Models.Book>

@{
    ViewData["Title"] = "E-Books";
}

<h3 class="text-center mt-3" style="color:#86bc42;">E-Books</h3>
<div class="container">
    <div class="row">

        @foreach (var item in Model)
        {
            var photoPath = "/uploadImages/" + (item.ImageUrl ?? "noimage.jpg");

            <div class=" col-md-2 border p-md-2 m-3" >
                <div class="text-center" style="overflow:hidden;">
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId"><img class="imageThumbnail" src="@photoPath" asp-append-version="true" /></a>
                    <div class="mt-2" style="height:15px;overflow:hidden;">
                        <h5 style="font-size:14px;font-weight:bold;line-height:15px;">@item.BookName</h5>
                    </div><br />

                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId" class="btn btn-outline-primary btn-sm m-1" title="View @item.BookName">View</a>
                    <a asp-controller="Books" asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-outline-primary btn-sm m-1" title="Edit @item.BookName">Edit</a>
                </div>
            </div>
        }
    </div>
</div>