@model IEnumerable<EbookDomain.Models.Book>
@{
    ViewData["Title"] = "E-Books";
}
<div class="container-fluid">

    <div class="row">
        <div class="col-md-4">
            <h3 class="mt-3" style="color:#86bc42;">E-Books</h3>
        </div>
        <div class="col-md-7 mt-3">
            <form class="form-inline my-2 my-lg-0 pull-right" asp-controller="Books" asp-action="SearchBook">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="SearchString">
                <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="row">
        @foreach (var item in Model)
        {
            var photoPath = "/uploadImages/" + (item.ImageUrl ?? "noimage.jpg");

            // We Manipulate the Image path to ge the bookpath
            var Path = "/uploadBooks/" + (item.ImageUrl ?? "noimage.jpg");
            var splitPath = Path.Split(".");
            var bookPath = splitPath[0].ToString() + ".pdf";

            // File name For the downloaded book
            var bookdownload = @item.BookName + ".pdf";

            <div class=" col-md-2 border p-md-2 m-3">
                <div class="text-center" style="overflow:hidden;">
                    <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">
                        <img class="imageThumbnail" src="@photoPath" asp-append-version="true" />
                    </a><hr />
                    <div class="mt-2 mb-1" style="height:16px;overflow:hidden;">
                        <h5 style="font-size:14px;font-weight:bold;line-height:15px;">@item.BookName</h5>
                    </div>
                    @*<a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId" class="btn btn-outline-primary btn-sm m-1" title="View @item.BookName">View</a>
                        <a asp-controller="Books" asp-action="Edit" asp-route-id="@item.BookId" class="btn btn-outline-primary btn-sm m-1" title="Edit @item.BookName">Edit</a>*@
                </div>
            </div>
        }
    </div>
</div>
