@using System.Security.Claims;
@model IEnumerable<EbookDomain.Models.Book>
@{
    ViewData["Title"] = "E-Books";
    var IsTitle = false;
}

    <div class="container">

        <h3 class="text-center m-3" style="color:#86bc42;">E-Books</h3>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <form class="form-inline my-2 my-lg-0 d-inline" asp-controller="Books" asp-action="SearchBook">
                    <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search Books" name="SearchString" autocomplete="off">
                        <div class="input-group-append">
                            <button class="btn btn-secondary" type="submit">
                                <i class="fa fa-search"></i>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-3"></div>
        </div><br />

    <div class="row">
        @foreach (var item in Model)
            {
                if (User.Identity.Name == "prasad@prasad.com")
                {
                    if (item.StatusId == 1)
                    {
        @if(IsTitle == false)
        {
        <div class="col-md-12">
            <h5 style="color:#86bc42;padding:2%;">@ViewBag.unapprovedsubtitle</h5>
        </div>
            IsTitle = true;
       }
                        var photoPath = "/uploadImages/" + (item.ImageUrl ?? "noimage.jpg");

                        // We Manipulate the Image path to ge the bookpath
                        var Path = "/uploadBooks/" + (item.ImageUrl ?? "noimage.jpg");
                        var splitPath = Path.Split(".");
                        var bookPath = splitPath[0].ToString() + ".pdf";

                        // File name For the downloaded book
                        var bookdownload = @item.BookName + ".pdf";

        <div class="col-md-2 text-center">
            <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">
                <img class="img-responsive" src="@photoPath" asp-append-version="true" />
            </a><hr />
            <div style="height:16px;overflow:hidden;">
                <h5 style="font-size:13px;font-weight:bold;line-height:15px;">@item.BookName</h5>
            </div>
        </div>

                    }
                }
                else
                {
            if (item.StatusId == 1)
                    {
        @if (User.FindFirstValue(ClaimTypes.NameIdentifier) == item.CreatedBy)
        {
        @if(IsTitle == false)
        {
    <div class="col-md-12">
        <h5 style="color:#86bc42;padding:2%;">@ViewBag.unapprovedsubtitle</h5>
    </div>
            IsTitle = true;
       }
                    var photoPath = "/uploadImages/" + (item.ImageUrl ?? "noimage.jpg");

                    // We Manipulate the Image path to ge the bookpath
                    var Path = "/uploadBooks/" + (item.ImageUrl ?? "noimage.jpg");
                    var splitPath = Path.Split(".");
                    var bookPath = splitPath[0].ToString() + ".pdf";

                    // File name For the downloaded book
                    var bookdownload = @item.BookName + ".pdf";

        <div class="col-md-2 text-center">
            <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">
                <img class="img-responsive" src="@photoPath" asp-append-version="true" />
            </a><hr />
            <div style="height:16px;overflow:hidden;">
                <h5 style="font-size:13px;font-weight:bold;line-height:15px;">@item.BookName</h5>
            </div>
        </div>
        }
                    }

                }

            }

    </div>

        @if (User.Identity.Name == "prasad@prasad.com")
        {
        <h5 style="color:#86bc42;padding:2%;">@ViewBag.approvedsubtitle</h5>
        <div class="row">
            @foreach (var item in Model)
                {
                    if (item.StatusId == 2)
                    {
                        var photoPath = "/uploadImages/" + (item.ImageUrl ?? "noimage.jpg");

                        // We Manipulate the Image path to ge the bookpath
                        var Path = "/uploadBooks/" + (item.ImageUrl ?? "noimage.jpg");
                        var splitPath = Path.Split(".");
                        var bookPath = splitPath[0].ToString() + ".pdf";

                        // File name For the downloaded book
                        var bookdownload = @item.BookName + ".pdf";

            <div class="col-md-2 text-center">
                <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">
                    <img class="img-responsive" src="@photoPath" asp-append-version="true" />
                </a><hr />
                <div style="height:16px;overflow:hidden;">
                    <h5 style="font-size:13px;font-weight:bold;line-height:15px;">@item.BookName</h5>
                </div>
            </div>
                    }
                }
        </div>
        }
    else
    {
        <h5 style="color:#86bc42;padding:2%;">@ViewBag.approvedsubtitle</h5>
        <div class="row">
            @foreach (var item in Model)
                {
                    if (item.StatusId == 2)
                    {
                        var photoPath = "/uploadImages/" + (item.ImageUrl ?? "noimage.jpg");

                        // We Manipulate the Image path to ge the bookpath
                        var Path = "/uploadBooks/" + (item.ImageUrl ?? "noimage.jpg");
                        var splitPath = Path.Split(".");
                        var bookPath = splitPath[0].ToString() + ".pdf";

                        // File name For the downloaded book
                        var bookdownload = @item.BookName + ".pdf";

            <div class="col-md-2 text-center">
                <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">
                    <img class="img-responsive" src="@photoPath" asp-append-version="true" />
                </a><hr />
                <div style="height:16px;overflow:hidden;">
                    <h5 style="font-size:13px;font-weight:bold;line-height:15px;">@item.BookName</h5>
                </div>
            </div>
                    }
                }
        </div>
    }
    </div>
