@model EbookApplication.ViewModels.BookViewModel
@{
    var IsApprovalTitle = false;
}

@*Title-Books(Approved Books)*@

@foreach (var item in Model.ApprovedList)
{

    if (IsApprovalTitle == false)
    {
        <div class="col-md-12">
            <h6 class="text-muted" style="font-weight:bold;"><i class="fa fa-thumbs-up" aria-hidden="true"></i> @ViewBag.approvedsubtitle</h6><hr />
        </div>
        IsApprovalTitle = true;
    }

    var photoPath = "/uploadImages/" + (item.ImageUrl ?? "noimage.jpg");

    <div class="col-xs-3 col-sm-3 col-md-3 imgdiv" style="padding-top:20px;">
        <a asp-controller="Books" asp-action="Details" asp-route-id="@item.BookId">
            <img class="img-responsive border" src="@photoPath" title="@item.Remarks" tooltip="@item.Remarks" asp-append-version="true" width="115" height="150">
        </a>
    </div>
}

@if (Model.ApprovedList.ToList().Count == 0)
{
    <div class="col-md-12">
        <h6 class="text-muted" style="font-weight:bold;"><i class="fa fa-thumbs-up" aria-hidden="true"></i> @ViewBag.approvedsubtitle</h6><hr />
    </div>

    <div class="container" style="padding-top:5px;">
        <h6 class="text-danger" style="font-weight:bold;">
            <i class="fa fa-meh-o" aria-hidden="true"></i>
            No results for "@ViewBag.searchLetter"
        </h6>
    </div>
    <hr />
}
